<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="asyncFile" xsi:type="AsyncWrapper">
			<target name="logfile" xsi:type="File"
			        fileName="/home/txnproc/trace/Specflow.log"
			        layout="${date:format=dd/MM/yyyy HH\:mm\:ss} | ${date:format=dd/MM/yyyy HH\:mm\:ss.ffff} | ${level} | ${callsite:className=true} | ${message} | ${exception:format=type,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method:InnerExceptionSeparator= | }"
			        archiveNumbering="Date"
			        archiveDateFormat="yyyyMMdd-HH"
			        archiveEvery="Hour"
			        keepFileOpen="false"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile"/>
	</rules>
</nlog>