name: Nightly Build - iOS

on:
  schedule:
  - cron: "45 23 * * *"
  repository_dispatch:
   types: iosnightly  
jobs:  
  buildios:
    name: "Nightly Build - iOS"
    env:
        ANDROID_HOME: "/Users/runner/Library/Android/sdk"
        ScreenshotFolder: "/Users/runner/screenshots"
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        Device: "iPhone 11 (13.7)"
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Cache Simulator Data
      run: echo ::set-env name=IOSSIMULATORS::"$(xcrun simctl list devices --j | jq -c -j '.devices | to_entries[] | (.key | capture("com\\.apple\\.CoreSimulator\\.SimRuntime\\.iOS-(?<version>.+)")) as {$version} | .value[] | {name:"\(.name) (\($version|sub("-"; ".")))", udid}')"    
          
    - name: log out simulators
      run: xcrun instruments -s devices
      
    - name: Setup Nuget
      uses: olegtarasov/download-nuget@v1
          
    - name: Restore Nuget Packages
      run: mono $NUGET_EXE restore TransactionMobile/TransactionMobile.sln -source "https://api.nuget.org/v3/index.json;https://www.myget.org/F/transactionprocessing/api/v3/index.json"

    - name: Build Code
      run: msbuild /p:Configuration="Release" /p:Platform="iPhoneSimulator" /t:Build TransactionMobile/TransactionMobile.sln

    - name: Create Screenshot Folder
      run: mkdir -p /Users/runner/screenshots
      
    - name: Run Integration Tests - iOS
      run: mono ./packages/NUnit.ConsoleRunner.3.11.1/tools/nunit3-console.exe VoucherRedemptionMobile.IntegrationTests/bin/Release/VoucherRedemptionMobile.IntegrationTests.dll --where "cat == iOS"   

    - uses: actions/upload-artifact@v2.2.1
      if: failure()
      with:
        name: screenshots
        path: /Users/runner/screenshots/**/*